.wrapper {
  width: 720px;
  margin: 30px auto;
  border: 1px solid #999;
  padding: 10px;
  font-family: "Times New Roman", serif;
}

h1 {
  text-align: center;
  color: blue;
  margin-bottom: 15px;
}

.controls {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px;
  text-align: center;
}

select {
  margin: 0 5px;
}

button {
  margin-left: 10px;
  padding: 3px 10px;
}

h2 {
  text-align: center;
  color: blue;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #999;
  padding: 6px;
}

.value {
  color: red;
  font-weight: bold;
}
