@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
background-color: #d6d2d2;
font-family: "Poppins", sans-serif;
font-weight: 300
}
.card {
border: none;
border-radius: 10px
}
.card:hover {
box-shadow: 5px 6px 6px 2px #cccecf;
/* transform: scale(1.1) */
}
.percent {
padding: 5px;
background-color: #ffc107;
border-radius: 5px;
color: #fff;
font-size: 14px;
height: 25px;
width: 60px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer
}
.wishlist {
height: 30px;
width: 30px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color: #eee;
padding: 10px;
cursor: pointer
}
.img-container {
position: relative
}
.img-container .first {
position: absolute;
width: 100%
}
.img-container img {
border-top-left-radius: 5px;
border-top-right-radius: 5px
}
.img-scale {
width: 200px;
height: 250px;
object-fit: cover
}
.product-detail-container {
padding: 10px
}
.ratings i {
color: #a9a6a6
}
.ratings span {
color: #a9a6a6
}
.count {
color: #a9a6a6;
}
label.radio {
cursor: pointer
}
label.radio input {
position: absolute;
top: 0;
left: 0;
visibility: hidden;
pointer-events: none
}
label.radio span {
height: 25px;
width: 25px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid #dc3545;
color: #dc3545;
font-size: 10px;
border-radius: 50%;
text-transform: uppercase
}
label.radio input:checked+span {
border-color: #dc3545;
background-color: #dc3545;
color: #fff
}
